<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<body>
<th:block layout:fragment="content">
    <div class="container instructor-view-main">
        <div class="instructor-view">
            <div class="instructor-view-wrap">
                <form th:action="@{/AllCommunityWrite}" method="post" enctype="multipart/form-data">
                    <div class="allcommunity-content-box">
                        <button type="submit" class="btn btn-primary">등록</button>
                        <a href="/AllCommunityView" class="btn btn-secondary">목록</a>
                    </div>
                    <div class="allcommunity-write">
                        <label for="allcommunity_title">제목</label>
                        <input type="text" id="allcommunity_title" name="allcTitle" class="form-control" required><br>

                        <!--로그인 한 유저 이름 자동으로 들어가게 한다.-->
                        <label for="allcommunity_write_name">작성자</label>
                        <input type="text" id="allcommunity_write_name" name="allcName" class="form-control" required
                               th:value="${session.loggedInUser.name}" readonly><br>

                        <!-- 오늘의 시간을 자동으로 들어가게 한다. -->
                        <label for="allcommunity_write_date">Date</label>
                        <input type="date" id="allcommunity_write_date" name="dateAllc" class="form-control"
                               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
                    </div>
                    <div class="allcommunity-write-content">
                        <label for="allcommunity_write_content">Content</label>
                        <textarea class="form-control" name="allcContent" id="allcommunity_write_content"
                                  required></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </th:block>
</body>

</html>
