<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<body>
    <th:block layout:fragment="content">
        <div class="lecture-apply-container container">
            <h2>강의 신청</h2>
            <form th:action="@{/lectures/apply}" method="post">
                <input type="hidden" name="lectureId" th:value="${lecture.lectureId}">
                <div class="form-group">
                    <label for="lectureTitle">강의 제목</label>
                    <input type="text" class="form-control" id="lectureTitle" th:value="${lecture.lectureTitle}" disabled>
                </div>
                <button type="submit" class="btn btn-primary">수강 신청하기</button>
            </form>
        </div>
    </th:block>
</body>
</html>
