<div class="container-fluid justify-content-center">
    <nav class="header-navbar navbar-expand-lg navbar-light">
        <div class="header-navbar-left">
            <a class="header-navbar-brand ms-5" href="/"><img src="/images/mainlogo.png" alt="Logo"></a>
            <ul class="header-navbar-nav">
                <li class="header-nav-item"><a class="header-nav-link" href="/lectures">강의</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="/chat">채팅</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="/AllCommunityView">커뮤니티</a></li>
                <li class="header-nav-item">
                    <!-- 로그인 상태에 따라 다른 링크 표시 -->
                    <a th:if="${session.loggedInUser != null}" href="/DataSharing" class="header-nav-link">자료실</a>
                    <a th:if="${session.loggedInUser == null}" href="/login" class="header-nav-link">자료실</a>
                </li>
                <li class="header-nav-item"><a class="header-nav-link" href="/notifications/form">알림</a></li>
            </ul>
        </div>
        <form class="header-search-form" action="/lectures/search" method="get">
            <input type="text" class="form-control" name="keyword" placeholder="나의 진짜 성장을 도와줄 실무 강의를 찾아보세요">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div>
            <div th:each="notification : ${mostUrgentNotification}">
                시험 임박! <br>[ D - <span th:text="${notification.daysUntilExam}"></span> : <span th:text="${notification.subject}"></span> ]
            </div>
        </div>
        <div class="header-icon-links">
            <!-- 로그인 상태에 따라 다른 링크 표시 -->
            <div th:if="${session.loggedInUser == null}">
                <a href="/login" class="ms-3"><i class="fas fa-user"></i></a>
                <a href="register" class="ms-3"><i class="fas fa-user-plus"></i></a>
            </div>
            <div th:if="${session.loggedInUser != null}">
                <span th:text="'안녕하세요!  ' + ${session.loggedInUser.name} + '  님'"></span>
                <a href="/logout" class="ms-3"><i class="fas fa-sign-out-alt"></i></a>
                <a href="/mypage" class="ms-3"><i class="fas fa-user-circle"></i></a>
            </div>
        </div>
    </nav>
</div>
