.data-sharing-view-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-sharing-view-title {
    color: #0C1844;
}

.data-sharing-view-subtitle {
    color: #6c757d;
}

.data-sharing-view-data-search-textbox {
    width: 70%;
    border-radius: 5px;
}

.data-sharing-view-data-search-button {
    border: 1px solid #0C1844;
    color: #0C1844;
    transition: background-color 0.3s, color 0.3s;
}

.data-sharing-view-data-search-button:hover {
    background-color: #0C1844;
    color: white;
}

.data-sharing-view-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.data-sharing-view-write-button {
    border: 1px solid #0C1844;
    color: #0C1844;
    transition: background-color 0.3s, color 0.3s;
}

.data-sharing-view-write-button:hover {
    background-color: #0C1844;
    color: white;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-inline .btn {
    display: inline-block;
    vertical-align: middle;
}
