.datasharing-detail-main {
    padding: 20px;
    background-color: #f9f9f9;
}

.datasharing-detail-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datasharing-detail-header h3 {
    font-weight: bold;
}

.datasharing-detail-body {
    padding-top: 20px;
}

.datasharing-detail-info li {
    margin-bottom: 10px;
}

.datasharing-detail-footer {
    display: flex;
    justify-content: space-between;
}

.datasharing-detail-comment-card,
.datasharing-detail-comment-list-card {
    margin-top: 20px;
}

.datasharing-detail-comment-list {
    margin-top: 20px;
}

.datasharing-detail-comment-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datasharing-detail-comment-list .list-group-item p {
    margin: 0;
}
