<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">

<head>
	<meta charset="utf-8">
	<title>커뮤니티 강사 글쓰기</title>
</head>

<body>
	<div class="instructor_view_main">
		<div class="instructor_view">
			<div class="instructor_view_wrap">
				<form th:action="@{/AllCommunityWrite}" method="post" enctype="multipart/form-data">
					<div class="allcommunity_content_box">
						<button type="submit">등록</button>
						<a href="/AllCommunityView">목록</a>
					</div>
					<div class="allcommunity_write">
						<label for="allcommunity_title">제목</label>
						<input type="text" id="allcommunity_title" name="allcTitle" required><br>

						<!--로그인 한 유저 이름 자동으로 들어가게 한다.-->
						<label for="allcommunity_write_name">작성자</label>
						<input type="text" id="allcommunity_write_name" name="allcName" required th:value="${session.loggedInUser.name}" readonly><br>

						<!--pw-->
						<label for="allcommunity_write_pass">비밀번호</label>
						<input type="text" id="allcommunity_write_pass" name="allcPass" required><br>

						<!-- 오늘의 시간을 자동으로 들어가게 한다. -->
						<label for="allcommunity_write_date">Date</label>
						<input type="date" id="allcommunity_write_date" name="dateAllc"
							th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
					</div>
					<div class="allcommunity_write_content">
						<!-- file upload -->
						<label for="allcommunity_write_file">File</label>
						<input type="file" id="fileAllcommunity" name="fileAllc"><br>

						<label for="allcommunity_write_content">Content</label>
						<textarea class="form-control" name="allcContent" id="allcommunity_write_content"
							required></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--script-->
</body>

</html>
