<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .pagination {
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="container my-5" id="community-content">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="all_community_content">
                <div class="community_all_box">
                    <form action="#" id="community_search_form" th:action="@{/AllCommunityView}" method="get">
                        <div class="community_search_box">
                            <input type="text" name="keyword" th:value="${keyword}" placeholder="검색어를 입력해주세요." class="data_search_textbox">
                            <select name="type" id="categories_search_select" class="form-control">
                                <option th:selected="${type == 'all'}" value="all">전체</option>
                                <option th:selected="${type == 'username'}" value="username">작성자</option>
                                <option th:selected="${type == 'title'}" value="title">제목</option>
                                <option th:selected="${type == 'content'}" value="content">내용</option>
                            </select>
                            <button type="submit" class="data_search_button">검색</button>
                        </div>
                    </form>
                    <a href="/AllCommunityWrite">글쓰기</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">등록일</th>
                            <th scope="col">다운로드</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="community : ${communityList}">
                            <td><a th:href="@{/AllCommunityViewDetail(no=${community.allcNo})}"
                                   th:text="${community.allcTitle}">제목 없음</a></td>
                            <td th:text="${community.allcName}">작성자 없음</td>
                            <td th:text="${#dates.format(community.allcDate, 'yyyy-MM-dd')}">날짜 없음</td>
                            <td th:text="${community.allcFile}">파일 없음</td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(communityList)}">
                            <td colspan="4">글이 존재하지 않음</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        <li th:classappend="${currentPage == 1} ? 'disabled'">
                            <a th:href="@{/AllCommunityView(pageNum=${currentPage - 1}, type=${type}, keyword=${keyword})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                            th:classappend="${currentPage == pageNum} ? 'active'">
                            <a th:href="@{/AllCommunityView(pageNum=${pageNum}, type=${type}, keyword=${keyword})}"
                               th:text="${pageNum}">1</a>
                        </li>
                        <li th:classappend="${currentPage == pageCount} ? 'disabled'">
                            <a th:href="@{/AllCommunityView(pageNum=${currentPage + 1}, type=${type}, keyword=${keyword})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlI1iIt6u3eoxkHdtomxIyJ3u+N0ba9agfae+0LI0L8IL8RxD8abR1u0j5i" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgEpTh7iFNwWfpXUhbM1mBacpQ3f4gkN49C5v6fo4E5AHMxd3G1" crossorigin="anonymous"></script>
</body>
</html>
