<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">

<head>
	<meta charset="utf-8">
	<title>자료실 강사 글쓰기</title>
</head>

<body>
	<div class="instructor_view_main">
		<div class="instructor_view">
			<div class="instructor_view_wrap">
				<form th:action="@{/InstructorWrite}" method="post" enctype="multipart/form-data">
				<div class="instructor_content_box">
					<button type="submit">등록</button>
					<a href="/DataSharing_Instructor">목록</a>
				</div>
				<div class="instructor_write">
					<!-- lecture_title : 강의 title을 자동으로 생성하게 된다. -->
					<label for="lecture_title">Title</label>
					<input type="text" id="lecture_title" name="data_title" required><br>

					<!-- instructor_write_name : 로그인 할 때 강사 이름이 자동으로 들어가게 한다. -->
					<label for="instructor_write_name">강사 이름</label>
					<input type="text" id="instructor_write_name" name="data_name" required><br>

					<!-- 오늘의 시간을 자동으로 들어가게 한다. -->
					<label for="instructor_write_date">Date</label>
					<input type="date" id="instructor_write_date" name="data_date"
						th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
				</div>
				<div class="instructor_write_content">
					<!-- file upload -->
					<label for="data_file">File</label>
					 <input type="file" id="data_file" name="data_file"><br>

					<label for="instructor_write_content">Content</label>
					<textarea class="form-control" name="data_content" id="instructor_write_content"
						required></textarea>
				</div>
				</form>
			</div>
		</div>
	</div>
	<!--script-->
</body>

</html>