<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">

<head>
	<meta charset="utf-8">
	<title>자료실 상세보기</title>
</head>

<body>
	<div class="student_view_main">
		<div class="student_view">
			<div class="student_view_title_wrap">
				<div class="data_main_view">
					<a onclick="location.href='#'"></a>
				</div>
				<div class="student_view_title">
					<dt class="student_data_title" th:text="${datasharing.datasharing_title}">
					<dd>
						<span>JJol</span>
						<span th:text="${dataa.data_name}"></span>
						<span th:text="${#dates.format(datasharing.datasharing_date, 'yyyy-MM-dd')}"></span>
					</dd>
					</dt>
				</div>
				<div class="student_file_download">
					<span th:text="${datasharing.datasharing_file}"></span>
				</div>
				<div class="student_view_main">
					<span th:text="${datasharing.datasharing_content}"></span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>