<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Notification Management</title>
</head>
<body>
<div layout:fragment="content" class="row" id="global-content">
    <h2>새로운 알림 만들기</h2>
    <form th:action="@{notify}" th:object="${notification}" method="post">
        <label for="subject">과 목 : </label>
        <input type="text" id="subject" name="subject" th:field="*{subject}" required> <br> 
        <label for="examDate">시험 날짜 : </label>
        <input type="date" id="examDate" name="examDate" th:field="*{examDate}" required> <br>
        <button type="submit">알림 생성</button>
        <button onclick="window.location.href='/lectures'" class="btn btn-primary mt-3">메인 페이지로 돌아가기</button>
    </form>
</div>

</body>
</html>
