.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin-top: 5%;
}

#msgArea {
    background-color: lightblue;
    height: 500px; /* 채팅 메시지 영역의 높이 설정 */
    overflow-y: auto; /* 메시지가 넘칠 경우 스크롤바를 표시 */
    padding: 10px; /* 내부 여백 설정 */
    border-radius: 15px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 25px;
    padding: 10px 15px;
    border: 1px solid #dfe3e8;
    transition: box-shadow 0.3s;
}

.form-control:focus {
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
    border-color: #4A90E2;
}

.btn-outline-secondary {
    border-radius: 25px;
    font-weight: 500;
    margin: 0 5px;
}

.input-group-append .btn {
    margin-left: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
